/* index */

body {
    background-color: black;
    overflow-x: hidden;
}

.navbar-inverse {
    background-color: black;
    border-bottom: solid 1px rgb(34, 34, 34);
    margin-bottom: 5vh;
}

.i-navbar {
    margin-left: -15px;
    height: 5vh;
    width: auto;
}

.link-navbar {
    color: aliceblue;
    text-decoration: none;
}

#coluna-1 {
    margin-left: 80px;
}

img {
    border-radius: 15px;
}

.indexImgs {
    height: 340px;
    width: 230px;
}

.flip-container {
    cursor: pointer;
    display: inline-flex;
    height: 340px;
    width: 230px;
    perspective: 1000px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}

.front {
    border: solid thin rgb(130, 131, 134);
}

.back {
    transform: rotateY(180deg);
    background-image: linear-gradient(#521aee, #e222a9);
    border: solid thin rgb(225, 235, 245);
    border-radius: 15px;
    overflow: hidden;
}

.ultimas-linhas {
    margin-top: 0px;
    margin-bottom: 0px;
}

.div-2 {
    margin-left: 0;
    margin-top: 10vh;
}

.div-conteudo {
    border-radius: 5px;
    padding: 30px 20px 39px 20px;
    color: aliceblue;
    background-image: linear-gradient(15deg, black, rgb(0, 0, 0), rgb(0, 0, 0), rgb(39, 41, 48), rgb(79, 81, 87), rgb(130, 131, 134));
}

footer {
    color: rgb(29, 29, 39);
    height: bottom;
    font-size: 20px;
    margin-bottom: 35px;
    text-align: center;
    margin-top: 70px;
    width: 100vw;
}


