/* index */

body {
    background-color: rgb(103, 103, 105);
}

.navbar-inverse {
    background-color: rgb(82, 8, 179);
}

li {
    font-size: 20px;
}

img {
    border-radius: 15px;
}

.logo {
    float: right;
    margin-right: 1%;
}

h4 {
    color: rgb(123, 27, 212);
}

.textimg {
    color: white;
    font-size: 13px;
    margin: 8px;
}

.indexImgs {
    height: 340px;
    width: 230px;
}

.all-img {
    margin-top: 7em;
}

.img-colunas {
    margin-left: 2.5em;
    margin-bottom: 2.5em;
}

.imglink {
    display: inline-block;
    margin-right: 2em;
}

.flip-container {
    display: inline-flex;
    height: 340px;
    width: 230px;
    perspective: 1000px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    background-image: linear-gradient(#521aee, #e222a9);
    border: solid thin rgb(221, 12, 12);
    border-radius: 15px;
    overflow: hidden;
}

hr {
    border-color: rgb(123, 27, 212);
    margin-bottom: 35px;
}

h5 {
    font-size: 16px;
}

footer {
    color: rgb(123, 27, 212);
    height: bottom;
    font-size: 40px;
    margin-bottom: 35px;
}