/* index */

body {
    background-color: black;
    overflow-x: hidden;
}

.navbar-inverse {
    background-color: black;
    border-bottom: solid 1px rgb(34, 34, 34);
    margin-bottom: 5vh;
}

.i-navbar {
    margin-left: -15px;
    height: 5vh;
    width: auto;
}

.link-navbar {
    color: aliceblue;
    text-decoration: none;
}

#coluna-1 {
    margin-left: 80px;
}

img {
    border-radius: 15px;
}

.logo {
    float: right;
    margin-right: 1%;
}

h4 {
    color: rgb(123, 27, 212);
}

.textimg {
    color: white;
    font-size: 13px;
    margin: 8px;
}

.indexImgs {
    height: 340px;
    width: 230px;
}

.all-img {
    margin-top: 7em;
}

.img-colunas {
    margin-left: 2.5em;
    margin-bottom: 2.5em;
}

.imglink {
    display: inline-block;
    margin-right: 2em;
}

.flip-container {
    display: inline-flex;
    height: 340px;
    width: 230px;
    perspective: 1000px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}

.front {
    border: solid thin rgb(130, 131, 134);
}

.back {
    transform: rotateY(180deg);
    background-image: linear-gradient(#521aee, #e222a9);
    border: solid thin rgb(48, 7, 233);
    border-radius: 15px;
    overflow: hidden;
}

h5 {
    font-size: 16px;
}

.div-2 {
    margin-left: 0;
    margin-top: 10vh;
}

.div-conteudo {
    border-radius: 5px;
    padding: 30px 20px 39px 20px;
    color: aliceblue;
    background-image: linear-gradient(15deg, black, rgb(0, 0, 0), rgb(20, 20, 20), rgb(70, 71, 75), rgb(130, 131, 134));
}

footer {
    color: rgb(29, 29, 39);
    height: bottom;
    font-size: 20px;
    margin-bottom: 35px;
    text-align: center;
    margin-top: 70px;
    width: 100vw;
}

#sombra {
    position: fixed;
    background-color: blue;
    width: 100vw;
    height: 5vh;
}